<a href="https://colab.research.google.com/github/martinfernandoortiz/geoestadistica_unlp/blob/main/practica3_parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Práctica 3 - Parte I
## Análisis de los datos espaciales
A partir de los datos filtrados de la tabla del SMN, visualizar la dis-
tribución de estaciones y sus variables climatológicas principales, apli-
cando los métodos de interpolación espacial vistos en clase:

Para ello, primeramente vamos a manejar la tabla, con el fin de en-
tender mejor la información disponible. Abrir el archivo de datos y
verificar los siguiente:
- Abrir la tabla filtrada desde algún directorio especı́fico.
- Visualizar la cantidad de filas y columnas de la tabla. Mostrar en
una lista los nombres de las columnas.
- Visualizar sòlo las primeros 10 filas.
- Visualzar sòlo las últimas 10 filas.
- Visualzar el rango de filas: 10 - 20 y 40-70, en simultaneo (ayuda:
``` python
df.iloc[np.r[ 10 : 21, 40 : 71], :]
```
)
### Filtrado de datos:
Seleccionar todas las estaciones meteorológicas ubicadas a una altura mayor a 800 m. El resultado entregarlo como una lista con los nombres de las estaciones seleccionadas
De estas estaciones, identificar cuàles presentan los siguientes rasgos:

- 1 Mayor temperatura

- 2 Menor nubosidad total

- 3 Menor temperatura o menor humedad relativa

- Identificar en todas las estaciones, para cada mes, los estimadores estadı́sticos mas comunes, (media, std, cuartiles, mínimos y máximos)
- Por Estacion, hacer un promedio anual de la temperatura máxima y mínima
- Agregar una columna booleana (valores 0 o 1), que indiquen si la temperatura media de esta estación, en ese mes es  Superior o inferior a 15 ºC.
- Repetir lo anterior, pero esta vez indicando un valor inferior o su- perior de precipitación de 70 mm2. Visualzar sòlo las últimas 10 filas.

Para ello, primeramente vamos a manejar la tabla, con el fin de en-
tender mejor la información disponible. Abrir el archivo de datos y
verificar los siguiente:
- Abrir la tabla filtrada desde algún directorio especı́fico.

In [1]:
# @title
#Carga de Librerìas
################################################################
#
#   - Importacion de librerias
#   - Asignaciòn de alias
#
####################################################################

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
import seaborn as sns
#import geopandas as gpd
# Preprocesado y modelado
# ==============================================================================
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import scale
from sklearn.cluster import KMeans
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster

# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')
#https://towardsdatascience.com/detecting-and-treating-outliers-in-python-part-3-dcb54abaf7b0

#Import Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [37]:
# @title
# Carga de datos

#path = "datasets/"
archivo = "SMN_estaciones_medias_mensuales_1989_2010.xls"
#df = pd.read_excel( 'SMN_estaciones_medias_mensuales_1989_2010.xls')
df = pd.read_excel('/content/drive/My Drive/Colab Notebooks/SMN_estaciones_medias_mensuales_1989_2010.xls')
df.replace("S/D", np.NaN, inplace = True) #reemplazar los "S/D"

#Finalmente vamos a utilizar ésta forma para cambiar el tipo de campo
rango= np.r_[8:16]
df[df.columns[rango]] = df[df.columns[rango]].astype(float)
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0.1                           840 non-null    int64
 1   Unnamed: 0                             840 non-null    int64
 2   Estacion                               840 non-null    object
 3   mes                                    840 non-null    object
 4   lat                                    840 non-null    float64
 5   long                                   840 non-null    float64
 6   Altura_(m)                             840 non-null    int64
 7   Numero                                 840 non-null    int64
 8   Temperatura_(C)                        838 non-null    float64
 9   Temperatura_maxima_(C)                 840 non-null    float64
 10  Temperatura_minima_(C)                 818 non-null    float64
 11  Humedad_relativa_(%)                   812 non-null    float64
 12  Velocidad_del_Viento_(km/h)            708 non-null    float64
 13  Nubosidad_total_(octavos)              826 non-null    float64
 14  Precipitacion_(mm)                     807 non-null    float64
 15  Frecuencia_dias_Precipitacion_>0.1_mm  807 non-null    float64
dtypes: float64(10), int64(4), object(2)
memory usage: 105.1+ KB

- Visualizar la cantidad de filas y columnas de la tabla. Mostrar en
una lista los nombres de las columnas.

In [38]:
print(df.info())
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0.1                           840 non-null    int64
 1   Unnamed: 0                             840 non-null    int64
 2   Estacion                               840 non-null    object
 3   mes                                    840 non-null    object
 4   lat                                    840 non-null    float64
 5   long                                   840 non-null    float64
 6   Altura_(m)                             840 non-null    int64
 7   Numero                                 840 non-null    int64
 8   Temperatura_(C)                        838 non-null    float64
 9   Temperatura_maxima_(C)                 840 non-null    float64
 10  Temperatura_minima_(C)                 818 non-null    float64
 11  Humedad_relativa_(%)                   812 non-null    float64
 12  Velocidad_del_Viento_(km/h)            708 non-null    float64
 13  Nubosidad_total_(octavos)              826 non-null    float64
 14  Precipitacion_(mm)                     807 non-null    float64
 15  Frecuencia_dias_Precipitacion_>0.1_mm  807 non-null    float64
dtypes: float64(10), int64(4), object(2)
memory usage: 105.1+ KB
None
Index(['Unnamed: 0.1', 'Unnamed: 0', 'Estacion', 'mes', 'lat', 'long',
       'Altura_(m)', 'Numero', 'Temperatura_(C)', 'Temperatura_maxima_(C)',
       'Temperatura_minima_(C)', 'Humedad_relativa_(%)',
       'Velocidad_del_Viento_(km/h)', 'Nubosidad_total_(octavos)',
       'Precipitacion_(mm)', 'Frecuencia_dias_Precipitacion_>0.1_mm'],
      dtype='object')


- Visualizar sòlo las primeros 10 filas.

- Visualzar sòlo las últimas 10 filas.
- Visualzar el rango de filas: 10 - 20 y 40-70, en simultaneo (ayuda:
``` python
df.iloc[np.r[ 10 : 21, 40 : 71], :]
```
)

> Indented block

In [6]:
df.head()

,Unnamed: 0.1,Unnamed: 0,Estacion,mes,lat,long,Altura_(m),Numero,Temperatura_(C),Temperatura_maxima_(C),Temperatura_minima_(C),Humedad_relativa_(%),Velocidad_del_Viento_(km/h),Nubosidad_total_(octavos),Precipitacion_(mm),Frecuencia_dias_Precipitacion_>0.1_mm
0,0,0,LA QUIACA,ene,-12.0,-63.333333,3459,87007,12.8,20.1,7.4,65.3,6.9,5.2,97.5,15.9
1,1,1,LA QUIACA,feb,-12.0,-63.333333,3459,87007,12.5,19.9,7,64.1,7.1,4.8,68.4,12.2
2,2,2,LA QUIACA,mar,-12.0,-63.333333,3459,87007,12.4,19.9,6.3,62.4,6.5,4.1,55.9,9.8
3,3,3,LA QUIACA,abril,-12.0,-63.333333,3459,87007,10.9,19.7,2.8,48.2,6.4,2.7,8.2,2.4
4,4,4,LA QUIACA,mayo,-12.0,-63.333333,3459,87007,6.9,17.3,-3,34.6,6,1.8,1,0.3

- Visualzar sòlo las últimas 10 filas.

In [7]:
df.tail()

,Unnamed: 0.1,Unnamed: 0,Estacion,mes,lat,long,Altura_(m),Numero,Temperatura_(C),Temperatura_maxima_(C),Temperatura_minima_(C),Humedad_relativa_(%),Velocidad_del_Viento_(km/h),Nubosidad_total_(octavos),Precipitacion_(mm),Frecuencia_dias_Precipitacion_>0.1_mm
835,835,847,BASE SAN MARTIN,ago,-60.5,-59.5,7,89066,-11.5,-6.9,-16.8,NaN,18.9,5.9,NaN,NaN
836,836,848,BASE SAN MARTIN,sep,-60.5,-59.5,7,89066,-8.9,-4.6,-13.9,NaN,17.5,6.3,NaN,NaN
837,837,849,BASE SAN MARTIN,oct,-60.5,-59.5,7,89066,-5.9,-2.1,-10.2,NaN,20.3,6.4,NaN,NaN
838,838,850,BASE SAN MARTIN,nov,-60.5,-59.5,7,89066,-2,1.2,-5.5,NaN,19.2,6.4,NaN,NaN
839,839,851,BASE SAN MARTIN,dic,-60.5,-59.5,7,89066,0.8,3.4,-1.8,NaN,18.3,6.2,NaN,NaN

- Visualzar el rango de filas: 10 - 20 y 40-70, en simultaneo (ayuda:

In [13]:
#rango=np.r_[ 10:21,40:71]
df.iloc[np.r_[ 10:21,40:71], :]

,Unnamed: 0.1,Unnamed: 0,Estacion,mes,lat,long,Altura_(m),Numero,Temperatura_(C),Temperatura_maxima_(C),Temperatura_minima_(C),Humedad_relativa_(%),Velocidad_del_Viento_(km/h),Nubosidad_total_(octavos),Precipitacion_(mm),Frecuencia_dias_Precipitacion_>0.1_mm
10,10,10,LA QUIACA,nov,-12.000000,-63.333333,3459,87007,12.8,21.7,5.2,52.3,8.8,3.6,27.3,7.4
11,11,11,LA QUIACA,dic,-12.000000,-63.333333,3459,87007,13.2,21.3,6.9,59.2,8.3,4.5,71.9,12.7
12,12,12,ORAN,ene,-16.333333,-60.842105,357,87016,NaN,32.3,21.5,NaN,8.4,NaN,216.6,14.3
13,13,13,ORAN,feb,-16.333333,-60.842105,357,87016,25.1,31.1,20.8,NaN,8.4,NaN,183.7,12.9
14,14,14,ORAN,mar,-16.333333,-60.842105,357,87016,23.9,29.4,20.5,83.6,6.9,5.7,184.2,15.3
15,15,15,ORAN,abril,-16.333333,-60.842105,357,87016,20.9,26.0,17.8,85.3,6.4,6,70.9,12
16,16,16,ORAN,mayo,-16.333333,-60.842105,357,87016,17.7,23.2,14.2,83.8,6.2,5.6,19.8,6.6
17,17,17,ORAN,jun,-16.333333,-60.842105,357,87016,15,21.2,11,82.3,6.8,5.1,6.3,3.9
18,18,18,ORAN,jul,-16.333333,-60.842105,357,87016,14.7,22.0,9.2,75.4,7.7,4,4.5,2.8
19,19,19,ORAN,ago,-16.333333,-60.842105,357,87016,17.2,25.6,11,67.3,8.2,3.5,5.4,2.2
20,20,20,ORAN,sep,-16.333333,-60.842105,357,87016,20.1,28.3,13.5,59.1,9.1,3.9,16.3,3.2
40,40,40,JUJUY,mayo,-21.391304,-53.000000,905,87046,14.8,21.3,10,79.7,7.4,4.7,11.6,3.9
41,41,41,JUJUY,jun,-21.391304,-53.000000,905,87046,12.2,19.7,6.8,76.7,7.3,4.1,2.8,2
42,42,42,JUJUY,jul,-21.391304,-53.000000,905,87046,11.9,20.3,5.8,68,9.2,3.2,3.4,2.3
43,43,43,JUJUY,ago,-21.391304,-53.000000,905,87046,15,23.3,8.2,58.7,10.3,3.1,3.1,1.6
44,44,44,JUJUY,sep,-21.391304,-53.000000,905,87046,17.8,25.7,10.6,52.3,11,3.4,5.4,1.9
45,45,45,JUJUY,oct,-21.391304,-53.000000,905,87046,21.7,29.0,14.8,56,10.7,4.1,28.1,4.8
46,46,46,JUJUY,nov,-21.391304,-53.000000,905,87046,23,29.9,16.7,62,10.2,4.5,61.1,7.8
47,47,47,JUJUY,dic,-21.391304,-53.000000,905,87046,23.8,30.5,18,68.8,8.9,5,130.4,11.6
48,48,48,SALTA,ene,-22.823529,-62.931034,1221,87047,21.4,27.4,16.6,78.2,6.8,5.9,192.6,16.3
49,49,49,SALTA,feb,-22.823529,-62.931034,1221,87047,20.3,26.4,15.7,81,6.5,5.8,154.2,14.8
50,50,50,SALTA,mar,-22.823529,-62.931034,1221,87047,19.5,25.2,15.3,83.7,5.8,5.9,110.6,14.2
51,51,51,SALTA,abril,-22.823529,-62.931034,1221,87047,16.6,22.7,11.9,82.9,5.8,5.6,33,7.9
52,52,52,SALTA,mayo,-22.823529,-62.931034,1221,87047,13.1,20.3,7.6,80.5,6.3,5,8,3.9
53,53,53,SALTA,jun,-22.823529,-62.931034,1221,87047,10.6,19.6,4.1,75.5,6.1,4.2,1.5,1.6
54,54,54,SALTA,jul,-22.823529,-62.931034,1221,87047,10.1,20.0,2.9,69.1,6.9,3.3,3.9,2.1
55,55,55,SALTA,ago,-22.823529,-62.931034,1221,87047,12.7,22.3,4.9,62.8,7.5,3.2,3.8,2.1
56,56,56,SALTA,sep,-22.823529,-62.931034,1221,87047,15.1,23.9,7.3,58.2,7.9,3.5,7.6,2.7
57,57,57,SALTA,oct,-22.823529,-62.931034,1221,87047,19.1,26.8,11.8,61.2,9,4.4,25.1,5.7
58,58,58,SALTA,nov,-22.823529,-62.931034,1221,87047,20.5,27.5,14.1,67.1,8.7,5,62.2,9.5
59,59,59,SALTA,dic,-22.823529,-62.931034,1221,87047,21.5,28.0,15.9,73.1,7.7,5.5,145.6,14
60,60,60,LAS LOMITAS,ene,-22.571429,-58.285714,130,87078,27.9,35.1,21.7,69.3,5.4,4,142.4,8.8
61,61,61,LAS LOMITAS,feb,-22.571429,-58.285714,130,87078,26.8,33.8,21.1,72.2,7,3.9,116.7,9.2
62,62,62,LAS LOMITAS,mar,-22.571429,-58.285714,130,87078,25.8,32.8,20.3,75.2,6,3.5,160.4,9.9
63,63,63,LAS LOMITAS,abril,-22.571429,-58.285714,130,87078,22.5,28.8,17.5,79.4,5.9,4.2,84.6,9.3
64,64,64,LAS LOMITAS,mayo,-22.571429,-58.285714,130,87078,18.8,25.4,13.7,79.9,5.8,4.1,57.5,7.1
65,65,65,LAS LOMITAS,jun,-22.571429,-58.285714,130,87078,16.9,23.4,11.8,79.3,5.3,4.4,18.6,6
66,66,66,LAS LOMITAS,jul,-22.571429,-58.285714,130,87078,16.6,24.1,10.4,71.3,6.9,3.5,13.1,3.9
67,67,67,LAS LOMITAS,ago,-22.571429,-58.285714,130,87078,19.1,27.1,12.2,62.8,8.6,3.1,16.1,2.9
68,68,68,LAS LOMITAS,sep,-22.571429,-58.285714,130,87078,21.2,29.1,14.2,60.5,8.7,3.5,30.4,4.4
69,69,69,LAS LOMITAS,oct,-22.571429,-58.285714,130,87078,24.6,32.2,17.8,62.7,9.4,3.7,72.5,7.3
70,70,70,LAS LOMITAS,nov,-22.571429,-58.285714,130,87078,25.9,33.2,19.3,65.9,9.9,3.7,119,8.7

### Filtrado de datos:
Seleccionar todas las estaciones meteorológicas ubicadas a una altura mayor a 800 m. El resultado entregarlo como una lista con los nombres de las estaciones seleccionadas
De estas estaciones, identificar cuàles presentan los siguientes rasgos:

- 1 Mayor temperatura

- 2 Menor nubosidad total

- 3 Menor temperatura o menor humedad relativa

- Identificar en todas las estaciones, para cada mes, los estimadores estadı́sticos mas comunes, (media, std, cuartiles, mínimos y máximos)
- Por Estacion, hacer un promedio anual de la temperatura máxima y mínima
- Agregar una columna booleana (valores 0 o 1), que indiquen si la temperatura media de esta estación, en ese mes es  Superior o inferior a 15 ºC.
- Repetir lo anterior, pero esta vez indicando un valor inferior o su- perior de precipitación de 70 mm2. Visualzar sòlo las últimas 10 filas.

- 1 Mayor temperatura

In [39]:
# Selecciono e imprimo las estaciones de mas de 800 metros
estaciones=df[df['Altura_(m)']>800].iloc[:,2].drop_duplicates()
print(estaciones)

0                 LA QUIACA
36                    JUJUY
48                    SALTA
372    MENDOZA OBSERVATORIO
444                MALARGUE
708               BARILOCHE
720              MAQUINCHAO
Name: Estacion, dtype: object

Saco la mayor temperatura, menor nubosidad total y menor temperatura o menor humedad relativa

In [40]:
# @title
df800= df[df['Altura_(m)']>800]
# Seleccionar las variables relevantes para el clustering
campos = df800[['Temperatura_(C)', 'Temperatura_maxima_(C)', 'Temperatura_minima_(C)',
                            'Humedad_relativa_(%)', 'Velocidad_del_Viento_(km/h)',
                            'Nubosidad_total_(octavos)', 'Precipitacion_(mm)',
                            'Frecuencia_dias_Precipitacion_>0.1_mm']]

In [41]:
# @title
# Encontrar la estación con el máximo valor en 'a'
estacion_max_a = df800.loc[df800['Temperatura_maxima_(C)'].idxmax(), 'Estacion']
indice_max_a = df800['Temperatura_maxima_(C)'].idxmax()
# Imprimir el resultado
print(f"Estación con el máximo valor de temperatura es {estacion_max_a} con  {indice_max_a} grados " )

Estación con el máximo valor de temperatura es JUJUY con  47 grados

In [43]:
# @title
# Encontrar la estación con el máximo valor en 'a'
estacion_max_a = df800.loc[df800['Nubosidad_total_(octavos)'].idxmin(), 'Estacion']
indice_max_a = df800['Nubosidad_total_(octavos)'].idxmin()
# Imprimir el resultado
print(f"Estación con el mínimo de nubosidad es {estacion_max_a} con  {indice_max_a}  " )

Estación con el mínimo de nubosidad es LA QUIACA con  6

In [47]:
# @title

minTemp = df800.loc[df800['Temperatura_minima_(C)'].idxmin(), 'Estacion']
minHumedad = df800.loc[df800['Humedad_relativa_(%)'].idxmin(), 'Estacion']
#print(minTemp + minHumedad)
temp = df800['Temperatura_minima_(C)'].idxmin()

hum = df800['Humedad_relativa_(%)'].idxmin()

print(f"La quiaca tiene la menor temperatura ({temp}º ) y menor humedad relativa ({hum} )    " )

LA QUIACALA QUIACA
La quiaca tiene la menor temperatura (6º ) y menor humedad relativa (6 )

- Identificar en todas las estaciones, para cada mes, los estimadores estadı́sticos mas comunes, (media, std, cuartiles, mínimos y máximos)

In [56]:
stats_por_mes = df800.groupby(['Estacion','mes']).describe()
print(stats_por_mes)

                Unnamed: 0.1                                                \
                       count   mean std    min    25%    50%    75%    max
Estacion  mes
BARILOCHE abril          1.0  711.0 NaN  711.0  711.0  711.0  711.0  711.0
          ago            1.0  715.0 NaN  715.0  715.0  715.0  715.0  715.0
          dic            1.0  719.0 NaN  719.0  719.0  719.0  719.0  719.0
          ene            1.0  708.0 NaN  708.0  708.0  708.0  708.0  708.0
          feb            1.0  709.0 NaN  709.0  709.0  709.0  709.0  709.0
...                      ...    ...  ..    ...    ...    ...    ...    ...
SALTA     mar            1.0   50.0 NaN   50.0   50.0   50.0   50.0   50.0
          mayo           1.0   52.0 NaN   52.0   52.0   52.0   52.0   52.0
          nov            1.0   58.0 NaN   58.0   58.0   58.0   58.0   58.0
          oct            1.0   57.0 NaN   57.0   57.0   57.0   57.0   57.0
          sep            1.0   56.0 NaN   56.0   56.0   56.0   56.0   56.0

                Unnamed: 0         ... Precipitacion_(mm)         \
                     count   mean  ...                75%    max
Estacion  mes                      ...
BARILOCHE abril        1.0  723.0  ...               58.9   58.9
          ago          1.0  727.0  ...              101.4  101.4
          dic          1.0  731.0  ...               23.4   23.4
          ene          1.0  720.0  ...               20.0   20.0
          feb          1.0  721.0  ...               15.3   15.3
...                    ...    ...  ...                ...    ...
SALTA     mar          1.0   50.0  ...              110.6  110.6
          mayo         1.0   52.0  ...                8.0    8.0
          nov          1.0   58.0  ...               62.2   62.2
          oct          1.0   57.0  ...               25.1   25.1
          sep          1.0   56.0  ...                7.6    7.6

                Frecuencia_dias_Precipitacion_>0.1_mm                        \
                                                count  mean std   min   25%
Estacion  mes
BARILOCHE abril                                   1.0   8.2 NaN   8.2   8.2
          ago                                     1.0  13.0 NaN  13.0  13.0
          dic                                     1.0   4.6 NaN   4.6   4.6
          ene                                     1.0   3.7 NaN   3.7   3.7
          feb                                     1.0   3.4 NaN   3.4   3.4
...                                               ...   ...  ..   ...   ...
SALTA     mar                                     1.0  14.2 NaN  14.2  14.2
          mayo                                    1.0   3.9 NaN   3.9   3.9
          nov                                     1.0   9.5 NaN   9.5   9.5
          oct                                     1.0   5.7 NaN   5.7   5.7
          sep                                     1.0   2.7 NaN   2.7   2.7


                  50%   75%   max
Estacion  mes
BARILOCHE abril   8.2   8.2   8.2
          ago    13.0  13.0  13.0
          dic     4.6   4.6   4.6
          ene     3.7   3.7   3.7
          feb     3.4   3.4   3.4
...               ...   ...   ...
SALTA     mar    14.2  14.2  14.2
          mayo    3.9   3.9   3.9
          nov     9.5   9.5   9.5
          oct     5.7   5.7   5.7
          sep     2.7   2.7   2.7

[84 rows x 112 columns]

In [62]:

# Rellenar los valores nulos en 'Temperatura_(C)', 'Temperatura_minima_(C)' con la media
df['Temperatura_(C)'].fillna(df['Temperatura_(C)'].mean(), inplace=True)
df['Temperatura_minima_(C)'].fillna(df['Temperatura_minima_(C)'].mean(), inplace=True)

# Rellenar los valores nulos en otras columnas según tus necesidades

# Calcula estadísticas descriptivas para cada mes
estadisticas_por_mes = df.groupby('mes').describe()

print("Estadísticas descriptivas para cada mes:")
print(estadisticas_por_mes)

# Calcula promedio anual de la temperatura máxima y mínima por estación
promedio_anual = df.groupby(['Estacion']).agg({
    'Temperatura_maxima_(C)': 'mean',
    'Temperatura_minima_(C)': 'mean'
}).reset_index()

print("\nPromedio anual de la temperatura máxima y mínima por estación:")
print(promedio_anual)

# Agrega una columna booleana que indica si la temperatura media en ese mes es superior a 15 ºC
df['Temperatura_media_superior_15'] = df['Temperatura_(C)'].gt(15)

# Repite para precipitación mayor a 70 mm2
df['Precipitacion_superior_70'] = df['Precipitacion_(mm)'].gt(70)

# Visualiza solo las últimas 10 filas
ultimas_10_filas = df.tail(10)
print("\nVisualizar solo las últimas 10 filas:")
print(ultimas_10_filas)

Estadísticas descriptivas para cada mes:
      Unnamed: 0.1                                                             \
             count        mean         std   min     25%    50%    75%    max
mes
abril         70.0  416.857143  244.213039   3.0  210.75  417.0  624.0  831.0
ago           70.0  421.085714  244.206894   7.0  215.75  421.0  628.0  835.0
dic           70.0  425.314286  244.204330  11.0  220.75  425.0  632.0  839.0
ene           70.0  413.685714  244.219997   0.0  207.00  414.0  621.0  828.0
feb           70.0  414.742857  244.217454   1.0  208.25  415.0  622.0  829.0
jul           70.0  420.028571  244.208094   6.0  214.50  420.0  627.0  834.0
jun           70.0  418.971429  244.209519   5.0  213.25  419.0  626.0  833.0
mar           70.0  415.800000  244.215134   2.0  209.50  416.0  623.0  830.0
mayo          70.0  417.914286  244.211167   4.0  212.00  418.0  625.0  832.0
nov           70.0  424.257143  244.204635  10.0  219.50  424.0  631.0  838.0
oct           70.0  423.200000  244.205164   9.0  218.25  423.0  630.0  837.0
sep           70.0  422.142857  244.205917   8.0  217.00  422.0  629.0  836.0

      Unnamed: 0              ... Precipitacion_(mm)         \
           count        mean  ...                75%    max
mes                           ...
abril       70.0  422.514286  ...            101.500  206.6
ago         70.0  426.742857  ...             44.450  101.4
dic         70.0  430.971429  ...            131.500  186.9
ene         70.0  419.342857  ...            134.575  230.6
feb         70.0  420.400000  ...            124.800  183.7
jul         70.0  425.685714  ...             40.750  122.1
jun         70.0  424.628571  ...             48.850  170.1
mar         70.0  421.457143  ...            144.800  187.7
mayo        70.0  423.571429  ...             63.100  192.7
nov         70.0  429.914286  ...            111.500  186.3
oct         70.0  428.857143  ...            110.500  237.0
sep         70.0  427.800000  ...             61.450  160.3

      Frecuencia_dias_Precipitacion_>0.1_mm                                  \
                                      count      mean       std  min    25%
mes
abril                                  67.0  7.149254  2.199268  1.3  6.000
ago                                    68.0  4.422059  2.396007  0.4  2.375
dic                                    67.0  8.395522  2.445864  2.3  7.100
ene                                    66.0  8.589394  2.707433  2.7  7.525
feb                                    67.0  7.789552  2.277634  2.6  6.650
jul                                    67.0  4.897015  2.466501  0.0  2.850
jun                                    68.0  5.302941  2.815785  0.1  3.275
mar                                    68.0  8.202941  2.297628  2.5  7.400
mayo                                   67.0  5.802985  2.192547  0.3  4.450
nov                                    67.0  7.758209  2.091914  1.6  7.100
oct                                    68.0  7.327941  2.506698  1.1  5.625
sep                                    67.0  5.498507  2.113628  0.9  4.050


        50%    75%   max
mes
abril  7.40  8.800  12.0
ago    4.15  6.100  13.0
dic    8.80  9.600  14.0
ene    8.55  9.800  16.3
feb    7.90  8.850  14.8
jul    4.50  6.500  14.0
jun    5.25  7.300  16.1
mar    8.35  9.050  15.3
mayo   5.80  7.100  13.6
nov    8.40  9.300  10.8
oct    7.90  9.225  11.6
sep    5.70  6.950  10.9

[12 rows x 112 columns]

Promedio anual de la temperatura máxima y mínima por estación:
                    Estacion  Temperatura_maxima_(C)  Temperatura_minima_(C)
0                 AEROPARQUE               21.425000               14.508333
1               BAHIA BLANCA               22.216667                9.133333
2                  BARILOCHE               14.725000                2.366667
3               BASE ORCADAS               -0.183333               -5.941667
4            BASE SAN MARTIN               -1.350000               -8.116667
..                       ...                     ...                     ...
63                   TUCUMAN               25.841667               14.241667
64                    VIEDMA               21.083333                7.800000
65             VILLA DOLORES               25.858333               11.908333
66  VILLA MARIA DEL RIO SECO               25.383333               10.225428
67            VILLA REYNOLDS               24.308333                8.066667

[68 rows x 3 columns]

Visualizar solo las últimas 10 filas:
     Unnamed: 0.1  Unnamed: 0         Estacion    mes   lat  long  Altura_(m)  \
830           830         842  BASE SAN MARTIN    mar -60.5 -59.5           7
831           831         843  BASE SAN MARTIN  abril -60.5 -59.5           7
832           832         844  BASE SAN MARTIN   mayo -60.5 -59.5           7
833           833         845  BASE SAN MARTIN    jun -60.5 -59.5           7
834           834         846  BASE SAN MARTIN    jul -60.5 -59.5           7
835           835         847  BASE SAN MARTIN    ago -60.5 -59.5           7
836           836         848  BASE SAN MARTIN    sep -60.5 -59.5           7
837           837         849  BASE SAN MARTIN    oct -60.5 -59.5           7
838           838         850  BASE SAN MARTIN    nov -60.5 -59.5           7
839           839         851  BASE SAN MARTIN    dic -60.5 -59.5           7

     Numero  Temperatura_(C)  Temperatura_maxima_(C)  Temperatura_minima_(C)  \
830   89066             -1.2                     1.3                    -3.6
831   89066             -3.3                    -0.9                    -5.8
832   89066             -5.3                    -2.3                    -8.4
833   89066             -9.3                    -5.8                   -13.5
834   89066            -11.6                    -7.3                   -16.3
835   89066            -11.5                    -6.9                   -16.8
836   89066             -8.9                    -4.6                   -13.9
837   89066             -5.9                    -2.1                   -10.2
838   89066             -2.0                     1.2                    -5.5
839   89066              0.8                     3.4                    -1.8

     Humedad_relativa_(%)  Velocidad_del_Viento_(km/h)  \
830                   NaN                         22.3
831                   NaN                         20.4
832                   NaN                         19.3
833                   NaN                         18.0
834                   NaN                         17.3
835                   NaN                         18.9
836                   NaN                         17.5
837                   NaN                         20.3
838                   NaN                         19.2
839                   NaN                         18.3

     Nubosidad_total_(octavos)  Precipitacion_(mm)  \
830                        6.3                 NaN
831                        6.0                 NaN
832                        5.8                 NaN
833                        5.2                 NaN
834                        5.5                 NaN
835                        5.9                 NaN
836                        6.3                 NaN
837                        6.4                 NaN
838                        6.4                 NaN
839                        6.2                 NaN

     Frecuencia_dias_Precipitacion_>0.1_mm  Temperatura_media_superior_15  \
830                                    NaN                          False
831                                    NaN                          False
832                                    NaN                          False
833                                    NaN                          False
834                                    NaN                          False
835                                    NaN                          False
836                                    NaN                          False
837                                    NaN                          False
838                                    NaN                          False
839                                    NaN                          False

     Precipitacion_superior_70
830                      False
831                      False
832                      False
833                      False
834                      False
835                      False
836                      False
837                      False
838                      False
839                      False